# Object files
lib
obj

# Ada Library Information
*.ali

# Miscellaneous cruft
*.cgpr
*.db
*.xml

# Generated website artifact
build/
vendor/

# Local Alire installation created by setup-alire
alire_install/
